@{
    ViewBag.Title = "Home Page";
}

<h1>@ViewBag.Id</h1>

<div class="jumbotron">
    <h1>ASP.NET Fake Tweeter</h1>
</div>

<div class="row">
    <div class="col-md-4">
       asda
    </div>
    
    <div class="col-md-4">
       asdasd2
    </div>
</div>